p {
	text-indent: 1em;
}

hr {
	width: 30%;
	height: 1px;
	color: #000;
	background-color: #000;
	border: 0;
}

h1 {
	text-align: center;
	font-weight: bold;
	margin-top: 2em; margin-bottom: 0.5em;
}

h2,h3,h4,h5 {
	text-align: center;
	font-weight: bold;
	margin-top: 1em; margin-bottom: 0.5em;
}

table {
	margin: 0.5em auto 0.5em auto;
	page-break-inside: avoid;
}

th {
	font-weight: normal;
	text-align: center;
	padding-right: 0.3em;
}

td {
	padding-right: 0.3em;
}

.chap, #toc, #preface {
	page-break-before: always;
	margin-top: 1em;
}

#frontispiece, #frontmatter {
	page-break-before: always;
	margin-top: 1em;
	text-align: center;
}

.ill {
	text-indent: 0em;
	text-align: center;
	font-size: small;
}

.sect {
	page-break-before: always;
	margin-top: 1em;
}

.toc1 {
	margin-left: 0em;
	margin-top: 0em;
}
.toc2 {
	margin-left: 1em;
}

.c {
	text-align: center;
}

.r {
	text-align: right;
}

.dialog {
	margin-left: 1em;
	text-indent: -1em;
}

.fn {
	font-size: small;
	margin: 0.5em 0 0.5em 1em;
}

blockquote {
	margin: 0.5em 0 0.5em 1em;
}

.poem {
	margin: 0.5em 0 0.5em 1em;
}

.l1 {
	margin-top: 0em;
	margin-bottom: 0em;
	margin-left: 1em;
	text-indent: -1em;	
}

.l3 {
	margin-top: 0em;
	margin-bottom: 0em;
	margin-left: 3em;
	text-indent: -1em;	
}

.b2 {
	margin-left: 2em;
	text-indent: -1em;	
}

.indent {
	margin-left: 2em;
}

.noindent {
	text-indent: 0em;
}

.outdent {
	margin-left: 1em;
	text-indent: -1em;	
}

.outdent2 {
	margin-left: 1em;
}

.e {
	margin-bottom: 0em;
	margin-left: 1em;
	text-indent: -1em;
}

dl dt {
	float: left;
	clear: both;
	font-weight: bold;
	width: 8em;
	margin-left: 1em;
	text-indent: -1em;
}

dl dd {
	float: left;
	margin: 0 0 0 0.5em;
}

.clear { clear: both; }

body
{
font-size: medium;
line-height: 1.2em;
margin-top: 1em;
margin-left: 1em;
margin-right: 2em;
}


